#id_type ul {
    list-style-type: none;
    padding: 0 0 20px 0;
}

#id_type ul li {
    float: left;
    padding: 0 25px 0 0;
}

#id_other_info {
    height: 70px;
}

fieldset h6, .accordion-content h6 {
    border-top: 1px dashed #ccc;
    padding: 20px 0;
    font-size: 1.2em;
    margin: 20px 0 0 0;
    line-height: 1;
}
