*.py~
*.html~
*.pyc
*.tmp*
*.project
*.db
settings_local.py
.coverage
.pydevproject
.settings/*
Makefile.def
docs/_build/*
lib/tddspry_install
errors
*.~tmp
static/importdata/*
static/upload/documents
static/upload/vehicle/*

